@import '../../../../assets/scss/utility/utility.scss';
@import '../../../../assets/scss/utility/bootstrap.scss';
.cart{
    @extend %shadow;
    font-size: 1.2em;
    margin: 20px 5px;
    border-radius: 15px;
    .card{
        
        height: 380px;
        background-color: rgb(212, 222, 243);
        transition: ease-in-out .3s;
        border-radius: 15px;
        &:hover{
            transform: scale(1.03);
            filter: opacity(.9);
        }
        a{
            
            height: 70%;
          .card-img{
            border-radius: 15px 15px 0 0;
              height: 100%;
          }
        }
        .card-body{
           .card-title{
               text-align: center;
           }
           .card-text{
               text-align: center;
               font-size: 16px;
           }
        }    
    }
}