$color-theme-primary: #283593;
$color-theme-secondary: #ad1457;
$price-background-color : #ad1457;
$color-light: #f1f1f1;
$color-dark: #111111;

$color-red: #b71c1c;
$color-pink: #880E4F;
$color-purple: #4A148C;
$color-deep-purple: #311B92;
$color-indigo: #1A237E;
$color-blue: #0D47A1;
$color-light-blue: #01579B;
$color-cyan: #006064;
$color-teal: #004D40;
$color-green: #1B5E20;
$color-light-green: #33691E;
$color-lime: #827717;