<section class="card">
  <div class="grid row center-md center-xs">
    <div class="gallery-container row center-md center-xs col-md-5 col-xs-9">
      <div class="image col-md-11 col-xs-10 ">
        <img src='{{data.Image}}'>
      </div>
      <div class="slides col-md-11 col-xs-10">
        <!-- <div class="sub-slides"></div> -->
      </div>
    </div>
    <div class="info-container row center-md center-xs col-md-7 col-xs-9 ">
      <div class="sub1 row start-md center-xs col-md-10 col-xs-10">
        <div class="col-md-8 col-xs-10 title">{{data.Title}}</div>
        <div class="col-md-4 col-xs-10 price">Price : {{data.Price}} $</div>
      </div>
      <div class="sub2 col-md-10 col-xs-10"></div>
      <div class="sub3 row center-md center-xs col-md-10 col-xs-10">
        <div class="options col-md-8 col-xs-8">
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
        </div>
        <div class=" col-md-8 col-xs-8  btn"><button >Add To Cart</button></div>    
      </div>
    </div>
  </div>
</section>