@import '../../../assets/scss/utility/utility.scss';

.gallery-slide{
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: rgb(95, 88, 88);
    padding: 20px;
    .mySlide{
        
        img{
            vertical-align: middle;
        }
        .slideNumber{

        }
    }
    .next,.previous{
        cursor: pointer;
        position: absolute;
        width: auto;
        padding: 16px;
        color: rgb(139, 42, 42);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3;
        top: 0;
    }
    .next{
        
        right: 0;
        margin-right: 10px;
    }
    .previous{
        left: 0;
        margin-left: 10px;
    }
}